#logo{
    width: 180px;
    margin-right: 0px;
}
.navbar li{
    display: inline-block;
    margin-right: auto;
}
body {
    background-color:black;
    font-family: Arial, sans-serif;
    color:red;
}

#recipe-list, #favorite-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 18rem;
    margin-bottom: 20px;
}

.card img {
    height: 180px;
    object-fit:cover;
    
}

